app/env/
app/env3.6.5/
app/.mypy_cache/
app/static/**
!app/static/placeholder
app/.vs/
app/log.txt
**/__pycache__/
app/__pycache__/
node_modules/
app/node_modules/**
**/node_modules
app/.cache/
.mypy_cache/
app/static_pipeline


