app/env3.6.5/
app/env/
app/.mypy_cache/
app/.vs/
app/log.txt
**/__pycache__/
app/.cache/
.mypy_cache/
app/__pycache__/
**/.vscode/

app/static_pipeline/content
app/static_pipeline/scripts
app/static_pipeline/fonts
app/static/admin
app/static/channels
app/static/content
app/static/django_extensions
app/static/fonts
app/static/scripts

**/node_modules/
