<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>moon machine-authorized controls</title>
    <meta charset="utf-8" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'content/authorizedcontrols.css' %}" />
</head>
<body>    
    <div width="auto"
         height="200px"
         class="left-buttons background">
        <span class="title focus-of-box">
            Exchange Authentication
        </span>
        <br />
        <br />

        <input type="file" 
               accept=".json" 
               data-bind="attr: { id: FileBoxId }" 
               />
        <br />
        <br />
        <button id="submitButton"
                class="green-and-purple" 
                data-bind="click: OnSubmit">submit</button>     
        <span data-bind="visible: IsSubmitting">Loading...</span>
    </div> 

    <table class="left-buttons authentication-table">
        <thead>
            <tr class="background">
                <td>Manager Name</td>
                <td>Auth Outcome</td>
            </tr>
        </thead>

        <tbody data-bind="visible: AuthenticationOutcomes().length > 0,
                            foreach: AuthenticationOutcomes">
            <tr>
                <td data-bind="text: marketmanagername"></td>
                <td data-bind="text: outcome"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>

{%load static %}
<script src="{% static 'scripts/node_modules/steal/steal.js' %}"
        main="{% static 'scripts/custom/binders/authorizedcontrolsbinder' %}"></script>
