<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <title>moon machine</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'content/authorizedcontrols.css' %}" />
        <link rel="shortcut icon" href="#" title="no favicon" />
    </head>

    <body>      
        <form action="admin">
            <button class="green-and-purple">
                Log in
            </button>
        </form>        
        <br />
        <br />
        <form action="admin/authorizedcontrols">
            <button class="green-and-purple">
                Authenticate exchanges
            </button>
        </form>
        <br />
        <br />
        <form action="admin/portfolio">
            <button class="green-and-purple">
                Manage portfolio
            </button>
        </form>
    </body>
</html>