<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <title>moon machine</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'content/index.css' %}" />
        <link rel="shortcut icon" href="#" title="no favicon" />
    </head>

    <body>      
        <div class="gwd-div-a852">
            <form class="gwd-form-16kc gwd-form-a7fu gwd-form-1osy" action="admin">
              <button class="gwd-button-azlf gwd-button-cqkk gwd-button-1s4a">Login</button>
            </form>
            <form class="gwd-form-16kc gwd-form-bukg" action="admin/authorizedcontrols">
              <button class="gwd-button-azlf gwd-button-cqkk gwd-button-xd51">Authenticate</button>
            </form>
            <form class="gwd-form-16kc gwd-form-p26z" action="admin/portfolio">
              <button class="gwd-button-azlf gwd-button-cqkk gwd-button-6d6m">Portfolio</button>
            </form>
        </div>
    </body>
</html>