<!DOCTYPE html>
<html>
    <title>moonmachine-portoflio</title>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" minimum-scale="1" content="width=device-width, initial-scale=1">
        <title>Portfolio</title>
        {% load static %}
        <link rel="stylesheet" id="gwd-text-style" href="{% static 'content/portfolio.css' %}" />
    </head>

    <body class="htmlNoPages">
      <div class="gwd-div-agjg">
        <div class="gwd-div-1y9u gwd-div-1who">
          <input class="gwd-input-1gco" type="file" data-bind="attr: {id: FileBoxId}">
          <p class="gwd-p-f2ew">script file:</p>
          <span class="gwd-span-11t1 gwd-span-4rp4">is compiled:</span>
          <span class="gwd-span-11t1 gwd-span-nf03" data-bind="text: Strategy().language"></span>
            <span class="gwd-span-11t1 gwd-span-nkca" data-bind="text: Strategy().iscompiled"></span>
            <span class="gwd-span-11t1 gwd-span-riag">language:</span>
          <p class="gwd-p-1flm">Upload Strategy</p>
          <button class="gwd-button-1xr9" data-bind="click: OnSubmit">
            Upload
          </button>
        </div>
        <p class="gwd-p-9807" data-bind="text: Strategy().compilationresult">
      
        </p>
      </div>
      <div class="gwd-div-1y9u gwd-div-10ze">
        <span class="gwd-span-1x46">Toggle Operation</span>
        <span class="gwd-span-1ild">Status:</span>
        <span class="gwd-span-1w1b" data-bind="text: BotsStatus"></span>
        <button class="gwd-button-cqyb" data-bind="visible: ShouldDisplayControl, click: OnToggle">Toggle</button>
      </div>
    </body>
</html>

{%load static %}
<script src="{% static 'scripts/node_modules/steal/steal.js' %}"
        main="{% static 'custom/binders/portfoliobinder' %}"></script>