    p {
      margin: 0px;
    }
    h1 {
      margin: 0px;
    }
    h2 {
      margin: 0px;
    }
    h3 {
      margin: 0px;
    }

    html, body {
      width: 100%;
      height: 100%;
      margin: 0px;
    }
    body {
      background-color: transparent;
      transform: perspective(1400px) matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
      transform-style: preserve-3d;
    }
    .gwd-div-a852 {
      position: absolute;
      left: 0px;
      top: 0px;
      width: 220px;
      height: 120px;
      transform-origin: 109.92px 60.1845px 0px;
    }
    .gwd-form-16kc {
      height: 25px;
      left: 533px;
      position: absolute;
      top: 136px;
      width: 185px;
    }
    .gwd-button-azlf {
      display: block;
      height: 16px;
      left: 7px;
      position: absolute;
      top: 8px;
      width: 85.5px;
    }
    .gwd-form-bukg {
      height: 25px;
      position: absolute;
      width: 185px;
      left: -2px;
      top: 51px;
    }
    .gwd-form-p26z {
      height: 25px;
      position: absolute;
      width: 185px;
      left: -2px;
      top: 26px;
    }
    .gwd-form-1osy {
      left: -2px;
      top: 1px;
    }
    .gwd-button-cqkk {
      top: 5px;
      width: 86px;
      height: 19px;
      transform-origin: 42.75px 9.5px 0px;
    }
    .gwd-button-1s4a {
      background-image: none;
      background-color: rebeccapurple;
      color: lawngreen;
    }
    .gwd-button-6d6m {
      background-image: none;
      background-color: rebeccapurple;
      color: lawngreen;
    }
    .gwd-button-xd51 {
      background-image: none;
      background-color: rebeccapurple;
      color: lawngreen;
    }
    @media (max-width: 766px) {
      .gwd-div-a852 {
        left: 0px;
        top: 0px;
        width: 340px;
        height: 280px;
        transform-origin: 169.87px 140.416px 0px;
      }
      .gwd-form-bukg {}
      .gwd-form-p26z {}
    }
    @media (min-width: 767px) {}