.loading-splash {
      height: 100%;
      width: 100%;
    }

.not-loading {
    display: none;
}
/*=================================*/
/*REST YOU CAN BREAK*/

    p {
      margin: 0px;
    }
    h1 {
      margin: 0px;
    }
    h2 {
      margin: 0px;
    }
    h3 {
      margin: 0px;
    }

    html, body {
      width: 100%;
      height: 100%;
      margin: 0px;
    }
    body {
      background-color: transparent;
      transform: perspective(1400px) matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
      transform-style: preserve-3d;
      font-size: 100%;
    }
    .gwd-input-5dpm {
      width: 188px;
      height: 17px;
      transform-origin: 94px 8.5px 0px;
      left: 258px;
      top: 275px;
    }
    .gwd-select-1us1 {
      left: 0px;
      top: 1px;
      width: 27px;
      height: 32px;
      transform-origin: 0px 15px 0px;
      transform-style: preserve-3d;
      transform: translate3d(325px, 132px, 0px) rotateZ(-1.63383deg);
    }
    .gwd-div-agjg {
      position: absolute;
      height: 415px;
      width: 346px;
      transform-origin: 173px 207.5px 0px;
      background-image: none;
      background-color: transparent;
      top: 38px;
      left: 0%;
    }
    .gwd-div-1y9u {
      background-color: rgb(134, 44, 211);
      height: 142px;
      left: 50%;
      position: absolute;
      top: 60px;
      width: 347px;
      transform-origin: 561.5px 366.5px 0px;
      transform-style: preserve-3d;
      transform: translate3d(-173px, -58px, 0px);
    }
    .gwd-span-1obo {
      color: rgb(4, 5, 4);
    }
    .gwd-div-10ze {
      background-image: none;
      background-color: rgb(163, 109, 209);
      transform-origin: 173.5px 71px 0px;
      left: 100%;
      transform: translate3d(-347px, -22px, 0px);
    }
    .gwd-p-1tgm {
      height: auto;
      position: absolute;
      width: auto;
      left: 4px;
      top: 71px;
    }
    .gwd-p-9807 {
      position: absolute;
      left: 0px;
      width: 347px;
      top: 160px;
      height: 254px;
      transform-origin: 0px 8.46667px 0px;
    }
    .gwd-div-1who {
      background-image: none;
      background-color: rgb(163, 109, 209);
      height: 158px;
      transform-origin: 561.5px 407.796px 0px;
    }
    .gwd-span-1x46 {
      position: absolute;
      font-size: 30px;
      width: 226px;
      height: 32px;
      transform-origin: 112.506px 15.7435px 0px;
      top: 6px;
      left: 50%;
      transform-style: preserve-3d;
      transform: translate3d(-113px, -6px, 0px);
    }
    .gwd-span-1ild {
      position: absolute;
      left: 53px;
      top: 71px;
    }
    .gwd-span-1w1b {
      position: absolute;
      transform-origin: -5.4294px 43.0645px 0px;
      left: 101px;
      top: 71px;
    }
    .gwd-button-cqyb {
      position: absolute;
      width: 52px;
      left: 221px;
      top: 71px;
      height: 18px;
      transform-origin: 26.2969px 8.8267px 0px;
    }
    .gwd-input-1gco {
      display: block;
      font-size: 11px;
      left: 50%;
      position: absolute;
      top: 4%;
      transform-style: preserve-3d;
      transform: translate3d(-46px, 37px, 0px);
      width: 158px;
      height: 18px;
      transform-origin: 195.423px 16.9436px 0px;
    }
    .gwd-p-f2ew {
      position: absolute;
      top: 46px;
      height: 18px;
      text-align: right;
      left: 33px;
      width: 79px;
      transform-origin: 39.548px 9.19923px 0px;
    }
    .gwd-span-11t1 {
      border-color: rgb(1, 9, 0);
      color: rgb(1, 9, 0);
      display: block;
      outline-color: rgb(1, 9, 0);
      position: absolute;
      text-decoration: none solid rgb(1, 9, 0);
      column-rule-color: rgb(1, 9, 0);
      -webkit-text-emphasis-color: rgb(1, 9, 0);
      -webkit-text-fill-color: rgb(1, 9, 0);
      -webkit-text-stroke-color: rgb(1, 9, 0);
      caret-color: rgb(1, 9, 0);
      width: 79px;
      height: 19px;
      transform-origin: 39.5807px 9.83047px 0px;
      top: 64px;
      left: 33px;
    }
    .gwd-p-1flm {
      font-size: 26px;
      height: 40.998px;
      position: absolute;
      width: 213.992px;
      transform-origin: 84.5px 20.5px 0px;
      top: 0px;
      left: 50%;
      transform-style: preserve-3d;
      transform: translate3d(-105px, 0px, 0px);
    }
    .gwd-span-1txb {
      position: absolute;
      top: 107px;
      left: 81px;
    }
    .gwd-span-riag {
      left: 33px;
      top: 83px;
      text-align: right;
    }
    .gwd-span-nkca {
      left: 112px;
      top: 64px;
      text-align: center;
    }
    .gwd-span-nf03 {
      left: 112px;
      top: 83px;
      text-align: center;
    }
    .gwd-span-4rp4 {
      text-align: right;
    }
    .gwd-button-1xr9 {
      position: absolute;
      height: 20px;
      left: 282px;
      width: 60px;
      transform-origin: 30.434px 10.2813px 0px;
      top: 132px;
    }
    .gwd-div-gcbz {
      position: absolute;
      left: 0px;
      top: 0%;
      width: 770px;
      height: 490px;
      transform-origin: 384.969px 244.989px 0px;
    }
    .gwd-img-efml {
      position: absolute;
      width: 209px;
      height: 190px;
      top: 50%;
      transform-style: preserve-3d;
      left: 50%;
      transform: translate3d(-104px, -95px, 0px);
    }
    .loading-splash {
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      transform-origin: 368.5px 248.5px 0px;
      background-image: none;
      background-color: rgba(158, 158, 158, 0.49);
    }
    @media (max-width: 768px) {
      .gwd-div-agjg {
        left: 0%;
        top: 190px;
      }
      .gwd-div-10ze {
        transform-style: preserve-3d;
        left: 0%;
        transform: translate3d(0px, -32px, 0px);
      }
    }
    @media (min-width: 768px) {}